<html>
<head>
	<title><%= @title %></title>
    <%= stylesheet_link_tag    "pages", :media => "all" %>
 	<%= javascript_include_tag 		'//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' %>
	<script src="../../../../jqueryui/js/jquery-1.10.2.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../jqueryui/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript" charset="utf-8"></script>
	
  	<%= javascript_include_tag "pages" %>
  	<%= csrf_meta_tags %>
</head>

<body>

	<div id = 'main'>

	<header>
		<h1 id = 'drag'><%= @page.user.title %></h1>
		
		<% if @correct %>
			<%= link_to(root_path, id: 'return_link') do%>
			<div id="return_button">
				Back to Maylogs
			</div>
			<% end %>
		<% else %>
			<div style = 'opacity:0;' id = 'return_button'></div>
		<% end %>

		
		<nav>
			
			
			<div id = 'color_beam' class = 'link_class'></div>
			<% if @page.user.has_home? %>
			<li id = '<% if @page.home %>current_page_link<% end %>'>
				<%= link_to 'Home', username_path(@page) %>
			</li>
			<% end %>
			
			
			<% @page.user.pages.each_with_index do |page, index| %>
			<% unless page.home %>
				<li id = '<% if @page == page %>current_page_link<% end %>'>
				<%= link_to page.title, page_username_path(page), id: color_beam_helper(@page, page) %>
				</li>
			<% end %>
			<% end %>
		</nav>
	</header>
	

	<% flash.each do |key, value| %>
	<div class = "flash flash-<%= key %>">
		<%= value %>
	</div>
	<% end %>

	
	<section id = 'kind_<%= @page.kind %>'>
	

		<% if @page.kind == 'blog' %>
			
			<h1><%= @page.title %></h1>
			

			<p id ='horizontal'><%= @page.content %></p>
			
			
			<% if @correct %>
				
				<%= form_tag '/pages/new_post' do %>
				
					<%= text_field_tag :title, nil, placeholder: 'Awesome Title', id: 'text_field_pages' %> <br />
					
					<%= text_area_tag :content,
					 nil, placeholder: 'Your ephiphany...', id: 'text_area_pages' %>
					
					<%= hidden_field_tag :page_id, @page.id %>
					
					<%= submit_tag 'Submit', id: 'submit_button' %>
					
				<% end %>
			
			<% end %>
		
			
			<%= render @posts.reverse %>
			
		<% else %>
		
			<h1><%= @page.title %></h1>
			
			<p><%= filter_content_custom(@page.content) %></p>
			
		<% end %>
	
	</section>
	
	
	</div>

</body>
</html>